*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: row;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
  width: 1140px;
}

/* блок с видео поиском */
.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* блок список видео */

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  flex-direction: column;
  gap: 6px;
}

/* стили текстов: */

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  font-style: bold;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0%;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  display: block;
  max-width: 196px;
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Oswald;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 16.2px;
}

/* Стилизуем формы и их состояния */

/* скрытые элементы */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 7px;
}

/* Стилизуем текстовое поле ввода */
.search-form__textfield {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  background-color: #1b1919;
  appearance: none;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* ----------------сброс обводки фокуса ---------------------------*/
.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #ffffff;
}

/* -----------------Стилизуем чекбокс ----------------------------*/

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:focus-visible .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:focus-visible {
  outline: 1px solid #ffffff;
}

/* сброс обводки фокуса */
.search-form__checkbox:focus {
  outline: 1px solid #ffffff;
}

.search-form__checkbox {
  outline: 1px solid #ffffff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #ffffff;
}

/* Стилизуем кнопки и их состояния */

.button {
  display: block;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  font-family: Fira Sans Condensed;
  color: #ffffff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
}

/* Состояния карточек */

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

/* Работаем с кликабельностью */

.content__card-link {
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.search-form__label {
  cursor: pointer;
}

/* Позиционирование прелоадеров */

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}
